<section>
	<div class="container">
		<h1>Profile</h1>
		<div ng-show="admin">
			<div class="page-header">
				<h3>Manage CTFs</h3>
			</div>
			<div class="container">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading-one">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#new_ctf" aria-expanded="true" aria-controls="new_ctf" onclick="return false;">
									New CTF
								</a>
							</h4>
						</div>
						<div id="new_ctf" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-one">
							<div class="panel-body">
								<form class="form-horizontal" action="javascript:new_ctf();" id="new_ctf">
									<div class="row">
										<div class="col-md-6">
											<div class="col-md-3 col-md-offset-1">
												<label class="control-label" for="new_ctf_name">CTF name</label>
											</div>
											<div class="col-md-7 input-group">
												<input type="text" name="new_ctf_name" id="new_ctf_name" class="form-control" autocomplete="off" />
												<span class="input-group-addon">
													<span class="fa fa-pencil-square-o"></span>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="col-md-3 col-md-offset-1">
												<label class="control-label" for="new_ctf_url">CTF url</label>
											</div>
											<div class="col-md-7 input-group">
												<input type="url" name="new_ctf_url" id="new_ctf_url" class="form-control" autocomplete="off" />
												<span class="input-group-addon">
													<span class="fa fa-link"></span>
												</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="col-md-3 col-md-offset-1">
												<label class="control-label" for="new_ctf_start">Start Date</label>
											</div>
											<div class="col-md-7 input-group datetimepicker">
												<input type="text" name="new_ctf_start" id="new_ctf_start" class="form-control" autocomplete="off" />
												<span class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="col-md-3 col-md-offset-1">
												<label class="control-label" for="new_ctf_end">End Date</label>
											</div>
											<div class="col-md-7 input-group datetimepicker">
												<input type="text" name="new_ctf_end" id="new_ctf_end" class="form-control" autocomplete="off" />
												<span class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="col-md-3 col-md-offset-1">
												<label class="control-label" for="new_ctf_contact">Contact</label>
											</div>
											<div class="col-md-7 input-group">
												<input type="email" name="new_ctf_contact" id="new_ctf_contact" class="form-control" autocomplete="off" />
												<span class="input-group-addon">
													<span class="fa fa-at"></span>
												</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="col-md-10 col-md-offset-4">
												<input type="submit" class="btn btn-primary" value="Add CTF!" />
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading-two">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#edit_ctf" aria-expanded="true" aria-controls="edit_ctf" onclick="return false;">
									Edit CTF
								</a>
							</h4>
						</div>
						<div id="edit_ctf" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-two">
							<div class="panel-body">
								Body 2
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-header">
			<h3>Teams</h3>
		</div>
		<div id="new_team_msg"></div>
		<div class="container">
			<ul>
				<li ng-repeat="team in teams" class="list-group-item row">
					<div class="col-sm-12" id="{{ 'delete_team_' + team.id + '_msg' }}"></div>
					<div class="col-sm-7">
						<a href="{{ '#team/' + team.encoded_name }}">{{ team.name }}</a>
					</div>
					<div class="col-sm-5" style="text-align:right;" ng-if="team.is_admin" id="{{ 'delete_team_' + team.id + '_form' }}">
						<form action="{{ 'javascript:delete_team(\'' + team.id + '\');' | trustUrl }}">
							<input type="hidden" value="{{ team.id }}" />
							<input type="button" class="btn btn-danger first" value="Delete" onclick="javascript:$(this).fadeOut();$(this).parent().children('input.next').fadeIn();" />
							<input type="submit" class="btn btn-danger next" style="display:none;" value="I'm sure." />
							<input type="button" class="btn btn-primary next" style="display:none;" value="Never mind." onclick="javascript:$(this).parent().children('input.first').fadeIn();$(this).parent().children('input.next').fadeOut();" />
						</form>
					</div>
				</li>
				<li class="list-group-item row">
					<form action="javascript:create_new_team();" id="new_team_form">
						<input type="text" id="new_team" class="form-control" placeholder="Create new team..." />
					</form>
				</li>
			</ul>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(".datetimepicker").datetimepicker({
		allowInputToggle: true,
		showTodayButton: true,
		toolbarPlacement: "top",
	});
</script>
<script type="text/javascript" src="/js/profile.js"></script>