<header class="altripple navbar-material-cyan">
	<div class="container">
		<div class="fa fa-info fa-5x"></div>
		<h1>{{ message }}</h1>
	</div>
</header>
<section>
	<div class="container">
		<center>
			<style>
			#desc {
				color: #000;
			}
			#desc b {
				color: #06C;
			}
			</style>
			<h2 id="desc"><b>HSCS.io</b> empowers <b>passionate</b> high school programmers to enrich <b>computer science learning</b> in their <b>communities</b>.</h2>
		</center>
	</div>
</section>
<section class="section-gray">
	<div class="container">
		<div class="page-header">
			<h2>What do we do?</h2>
		</div>
		<p>HSCS.io empowers passionate computer science high school students to enrich computer science learning in their communities. We will do this by aiding student run events, educating students in CS, and enabling students to run their own events.</p>
		<div class="page-header">
			<h2>What is a CTF?</h2>
		</div>
		<p>CTF stands for "Capture the Flag". CTFs are a type of computer science competition. Certain pieces of information, called "flags", are placed on servers, encrypted, hidden, or otherwise stored somewhere difficult to access. During the competition, different challenges are released which allow the participants to reverse engineer, break, hack, decrypt, and do whatever it takes to capture that flag for points.</p>
	</div>
</section>
<section>
	<div class="container">
		<center>
			<h1>What are you waiting for?</h1>
			<a href="#" class="btn btn-large btn-primary btn-raised">Join the 2015 spring season now!</a>
		</center>
	</div>
</section>