<header class="altripple navbar-material-purple">
	<div class="container">
		<div class="fa fa-flag fa-5x"></div>
		<h1>{{ message }}</h1>
		<p>For high schoolers, by high schoolers.</p>
	</div>
</header>
<section class="section-black">
	<div class="container">
		<h1>Next CTF</h1>
		<p>A brief description.</p>
	</div>
</section>
<section>
	<div class="container">
		<center>
			<h1>In high school and into tech?</h1>
			<h2>Join the official student-run CTF league!</h2>
			<a href="#events" class="btn btn-large btn-primary btn-raised">Find a CTF</a>
			<a href="#register" class="btn btn-large btn-primary btn-raised">Organize a CTF</a>
		</center>
	</div>
</section>