<header class="altripple navbar-material-orange">
	<div class="container">
		<div class="fa fa-flag fa-5x"></div>
		<h1>{{ message }}</h1>
	</div>
</header>
<section id="ctfs">
	<div class="container">
		<div class="row equal">
			<style>
			.ctf-image {
				width: 100%;
				height: 150px;
				background-position: center;
			}
			</style>
			<div class="col-lg-4 col-md-6 col-sm-12 event-wrapper" ng-repeat="ctf in past_ctfs | filter:search">
				<div class="panel panel-{{ (ctf.startDate > (getDate() / 1000)) ? 'success' : 'default' }}">
					<div class="panel-heading">
						<h1 class="panel-title">{{ ctf.name }}</h1>
					</div>
					<div class="panel-body">
						<a class="btn ctf-image" href="{{ ctf.website }}" style="background-image:url(http://placehold.it/500x200/ffffff);" target="_blank"></a>
						<h3>{{ ctf.startDate * 1000 | amDateFormat: 'MMMM Do YYYY' }}</h3>
						<p>to {{ ctf.endDate * 1000 | amDateFormat: 'MMMM Do YYYY' }}</p>
						<p>{{ ctf.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-dark-gray">
	<div class="container">
		<center>
			<a href="#" class="btn btn-large btn-primary btn-raised">Upcoming CTFs</a>
		</center>
	</div>
</section>