<header class="altripple navbar-material-green">
	<div class="container">
		<div class="fa fa-plus fa-5x"></div>
		<h1>{{ message }}</h1>
	</div>
</header>
<section>
	<div class="container">
		<h1>Why Register?</h1>
	</div>
</section>
<section class="section-gray">
	<div class="container">
		<h1>What do I do?</h1>
	</div>
</section>
<section>
	<div class="container">
		<center>
			<h1>What are you waiting for?</h1>
			<a href="mailto:contact@hscs.io" class="btn btn-large btn-primary btn-raised">Register your CTF now!</a>
		</center>
	</div>
</section>