<header class="altripple navbar-material-green">
	<div class="container">
		<div class="fa fa-plus fa-5x"></div>
		<h1>{{ message }}</h1>
	</div>
</header>
<section>
	<div class="container">
		<div class="page-header">
			<h1>What do I get?</h1>
		</div>
		<h3>Expert Mentorship</h3>
		<p>We'll help you with the nuts and bolts of setting up the competition, and problem quality.</p>
		<h3>Promotion</h3>
		<p>We'll help you get lots of people to participate in your CTF.</p>
	</div>
</section>
<section class="section-gray">
	<div class="container">
		<div class="page-header">
			<h1>What do I do?</h1>
		</div>
		<h3>Contact Us</h3>
		<p>The earlier we know about your CTF, the more time we'll have to help you set up, find people, and make sure everything runs smoothly!</p>
		<h3>Use the CTF-Platform</h3>
		<p>The CTF-Platform is a fully functional web backend that was tailored for CTF organizers. You don't need to mess with the dirty work of writing a backend, we've already done it for you!</p>
	</div>
</section>
<section>
	<div class="container">
		<center>
			<h1>What are you waiting for?</h1>
			<a href="mailto:contact@hscs.io" class="btn btn-large btn-primary btn-raised">Register your CTF now!</a>
		</center>
	</div>
</section>